<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .form > div {
            text-align: center;
            width: 75%;
            margin: auto;
        }

        #curvature {
            width: 100%;
        }

    </style>
</head>
<body>

    <form method="post">
        <div class="form">
            <div class="imgcontainer">
                <svg class="popug" viewBox="0 0 800 500" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path d="m383,244l-10.38,-3.31l-6.92,-0.65l-6.7,2.96l-6.24,7.13l-6.32,10.12l-13.44,27.75l-8.15,19.46l-20.47,55.73l-5.06,18.64l-0.63,6.67l1.27,3.92l3.04,2.58l4.27,1.12l5.73,-0.93l20,-5.19l60.54,-12.59l20.46,-6.41l19.73,-8.12l19.96,-9.57l16.86,-10.22l6.24,-5.11l4.21,-4.98l1.88,-5.16l-0.19,-5.57l-4.81,-11.46l-7.75,-10.36l-7.13,-7.45l-6.28,-2.86l-14.25,1.22l-6.47,-1.36l-5.19,-4.57l-9.06,-13.08l-5.75,-6.35l-8.11,-6.16l-24.89,-15.84" stroke-width="1" stroke="#000000" fill="#868e96" fill-rule="evenodd" id="beak_low"></path>
                        <path d="M 500 147 C 621 147 593 409 567 409 C 505 346 474 333 472 308 C 467 295 467 287 452 287 L 439.9 294.3 C 400 279 384 254 377.6 232.6 C 431 203 441 218 473 198 C 491 181 491 164 500 147" id="beak_top" stroke-width="1" fill="#868e96" stroke="#000"></path>
                        <path d="m136,153c11.5,-9 44.17,-39.17 69,-54c24.83,-14.83 51.67,-29.17 80,-35c28.33,-5.83 62.33,-2.5 90,0c27.67,2.5 57,8.17 76,15c19,6.83 29.5,15.17 38,26c8.5,10.83 13.83,23.83 13,39c-0.83,15.17 -2.33,39.33 -18,52c-15.67,12.67 -59.83,16.67 -76,24c-16.17,7.33 -13.33,16.33 -21,20c-7.67,3.67 -18.83,-0.67 -25,2c-6.17,2.67 -7.17,6.33 -12,14c-4.83,7.67 -9,13.83 -17,32c-8,18.17 -25.83,59.17 -31,77c-5.17,17.83 -3.5,25.33 0,30c3.5,4.67 16.83,-4 21,-2c4.17,2 0.83,6.33 4,14c3.17,7.67 11,20.17 15,32c4,11.83 8.83,32.17 9,40l-215,0l0,-326" stroke="#000000" fill="#338fff" id="body"></path>

                        <ellipse ry="22" rx="22" id="eye" cy="148" cx="318" stroke-width="0" fill="#000000" />
                    </g>
                </svg>
            </div>
            <div>
                <input type="range" id="curvature" name="curvature" min="1" max="200" value="190" oninput="changeCurvature">
            </div>
            <div>
                <button id="login" type="submit">Login: 190</button>
            </div>
        </div>
    </form>
        <script type="text/javascript">

         var beak = document.getElementById("beak_top");
         var button = document.getElementById("login");
         var points = beak.getAttribute("d").split(" ");
         function changeCurvature(e) {
             button.innerText = "Login: " + e.target.value;
             points[8] = 370 + parseInt(e.target.value);
             var d = points.join(' ');
             beak.setAttribute("d", d);
         }

        function init() {
             document.getElementById("curvature").addEventListener("input", changeCurvature)
         }
         init();

    </script>
</body>
</html>
